#para hacer togle entre internet y localhost debes modificar parameters.php, db.php y .htaccess
<IfModule mod_rewrite.c>
#en localhost: activar el rewrite engine
    RewriteEngine on
#fin localhost

#en web*************************************************
#RewriteBase /
#ErrorDocument 404 http://centroescazu.org/error/index/index
#fin web*************************************************

#en localhost*******************************************
ErrorDocument 404 http://localhost/escazu/error/index/index 
#comentario localhost/escasazu/nombre controlador/metodo/parametro
#fin localhost*******************************************


#para localhost y para web
# nunca entrar si es un directorio
RewriteCond %{SCRIPT_FILENAME} !-d
#nunca entrar si es un archivo 
RewriteCond %{SCRIPT_FILENAME} !-f
#reescribe todo a este formato
RewriteRule ^(.*)/(.*)/(.*) index.php?controller=$1&action=$2&parametro=$3






</IfModule>


